body {
	background-color: #1d1f1e;
	background-image: url('../images/background.png');
	font-family: 'GlacialIndifferenceRegular'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 1.25em;
    margin: 0 auto;
    min-width: 800px;
    max-width: 960px;
}

h1 {
	color: #FFECBF;
	font-size: 2.25em;
	text-align: center;
	text-shadow: .1em .1em .1em #000000;
}

div.wrapper {
	background-color: #96772E;
	border: 2px solid black;
	margin: 1em auto;
	padding: 0 auto;
	width: 70%;
	background-color: #FFF5DF;
	box-shadow: 1px 1px 1px 1px black;
	border-radius: 20px;
}

legend {
	text-align: center;
}

fieldset#tip, fieldset#roundUp {
	margin-bottom: 1em;
	margin-top: 1.5em;
}

#tip input, #roundUp input {
	width: 1em;
	margin: 0;
}

form {
	width: 80%;
	margin: 2em 10%;
	text-align: center;
}

input {
	font-size: 1.25em;
	width: 5em;
}

#billInfo label {
	margin: 1em 5% 1.2em 0;
	padding: 0;
	width: 45%;
	display: inline-block;
	text-align: right;
}

#billInfo input {
	padding: 0;
	margin: .5em 15% 0 0;
	width: 30%;
	text-align: left;
}

fieldset {
	border: none;
	text-align: center;
}

.currency {
	color: gray;
}

.required {
	color: red;
}

form p {
	text-align: left;
	color: gray;
	font-size: .8em;
}

/* RESET/SUBMIT BUTTONS */

#submit_btn, #reset_btn {
	font-size: 1em;
	height: 2em;
	margin: 2em auto;
	padding: .25em;
	border: 1px solid black;
}

#reset_btn {
	width: 5em;
}

#submit_btn {
	width: 8em;
}

/* ERRORS & RESULTS DIVS */

.results, .errors {
	font-size: 1.2em;
	margin: 0;
	line-height: 1.75em;
	border-radius: 0px 0px 20px 20px;
	border-top: 1px solid;
}

.results {
	background-color:rgba(0, 255, 0, 0.5);
	width: 60%;
	text-align: left;
	padding: 1em 15% 1em 25%;
}

.errors {
	background-color:rgba(255, 0, 0, 0.5);
	width: 80%;
	padding: 1em 10%;
	text-align: center;
}

.errors ul {
	display: inline;
	list-style: none;
	line-height: 1.5em;
}







